<mat-toolbar>
  <mat-button-toggle-group #group="matButtonToggleGroup" value="kanban">
    <mat-button-toggle value="kanban" ng-disabled="isLeadDetailsShown">
      <mat-icon>dashboard</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="table">
      <mat-icon>table_rows</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-raised-button color="basic" (click)="newLead()">
    New lead
  </button>
  <span class="spacer"></span>
  <mat-icon (click)="columnSettings()">settings</mat-icon>
</mat-toolbar>
 
<app-kanban *ngIf="group.value == 'kanban'"></app-kanban>
<app-table *ngIf="group.value == 'table'"></app-table>
<app-lead-details 
  *ngIf="isLeadDetailsShown"  
  (inAction)="closeLeadDetails()"
  >
</app-lead-details>

<app-column-settings *ngIf="isColumnSettings" (inAction)="closeColumnSettings()">
</app-column-settings>

  

