<mat-toolbar>
  <mat-button-toggle-group #group="matButtonToggleGroup" value="{{view}}">
    <mat-button-toggle value="kanban" routerLink="../kanban">
      <mat-icon >dashboard</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="table" routerLink="../table">
      <mat-icon >table_rows</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-raised-button color="basic" (click)="newLead()">
    New lead
  </button>
  
  <mat-form-field class="leads_filter" appearance="outline" >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search ..">
  </mat-form-field>

  <span class="spacer"></span>
  <mat-icon (click)="columnSettings()">settings</mat-icon>
</mat-toolbar>
<app-lead-details *ngIf="isLeadDetailsShown" (inAction)="closeLeadDetails()">
</app-lead-details>

<app-column-settings *ngIf="isColumnSettings" (componentClose)="closeColumnSettings()">
</app-column-settings>
