<mat-card class="lead" cdkDrag [style.background-color]="color">
  <mat-card-content (click)="onClick($event)" draggable="true">
    <div class="card-title">
      <mat-icon class="control-icon" (click)="deleteLead()" id='delete_icon'>delete</mat-icon>
    </div>
    <p> id: {{currentLead.id}} </p>
    <p> title: {{currentLead.title}} </p>
    <p> email: {{currentLead.email}} </p>
    <p> stage: {{currentLead.stage}} </p>
  </mat-card-content>
</mat-card>
<div class="drop_area"></div>
<app-lead-details 
  *ngIf="isLeadDetailsShown" 
  [currentLead] = "currentLead"
  (inAction)="closeLeadDetails()"
  >
</app-lead-details>
