<app-leads-toolbar [view]="'table'" (filterPattern)="applyFilter($event)"></app-leads-toolbar>
<mat-card class="leads-content">
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef="let lead">{{lead.id}}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>title</th>
        <td mat-cell *matCellDef="let lead">{{lead.title}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let lead">{{lead.email}}</td>
      </ng-container>
      <ng-container matColumnDef="stage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>stage</th>
        <td mat-cell *matCellDef="let lead">{{lead.stage}}</td>
      </ng-container>
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef>menu</th>
        <td mat-cell *matCellDef="let lead">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
