<div class="lead-details">
  <h2 class="window-title">Lead details</h2>

  <form [formGroup]="leadForm" class="lead-details-form">
    
    <mat-form-field>
      <mat-label>Lead title</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>  

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>
    
    <mat-form-field >
      <mat-label>Stage</mat-label>
      <mat-select formControlName="stage" required>
        <mat-option *ngFor="let item of stages" [value]="item.title">
          {{item.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="form-buttons">
      <button mat-raised-button color="primary" (click)="savePressed()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-raised-button (click)="cancelPressed()">
        <mat-icon color="warn">cancel</mat-icon>
      </button>
    </div>
  
  </form>
</div>
