html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lead {
  width: 250px;
}

.column { 
  display: block;
  margin-right: 20px;
  min-height: 150px;
}

.column_title{
  width: 250px;  
  padding: 10px;  
  margin-right: 20px;
  text-align: center;
  font-size: large;
}

.kanban { 
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.drop_area{
  height: 15px;
}

.mat-button-toggle-group {
  height: 36px;
  align-items: center; 
}


.mat-button-toggle-group .mat-icon {  
  font-size: 16px;
}
